@for (player of game.players; track player;let i = $index) {
<app-player [playerName]="player" [playerActive]="i == game.currentPlayer" [ngStyle]="{ 'top.rem': 10 + 9 * i }" class="player-container"></app-player>
}

<div class="playground">
    <div class="card-stack">
        <!-- Card stack -->
        @for (card of [1,2,3,4]; track card; let i = $index) {
        <img [ngStyle]="{ 'right.rem': i }" src="/assets/img/cards/card_cover.png" alt="Card Cover" />
        }
        <img (click)="takeCard()" class="top-card" src="/assets/img/cards/card_cover.png" alt="Card Cover" />

        <!-- stack for played cards -->
        @for (playedCard of game.playedCards; track playedCard) {
        <img class="played-card" src="/assets/img/cards/{{ playedCard }}.png" alt="Played Card" />
        }

        <!-- current Card Animation -->
        @if(isPickCard) {
        <img class="" [class.pick-card]="isPickCard" src="/assets/img/cards/{{ currentCard }}.png" alt="Card" />
        }
    </div>
</div>

<button mat-fab color="primary" class="btn-add" (click)="openDialog()" aria-label="Add Icon">
    <mat-icon>add</mat-icon>
</button>
