<div class="playground">
    <div class="card-stack">
        @for (card of [1,2,3,4]; track card; let i = $index) {
        <img [ngStyle]="{ 'right.rem': i }" src="/assets/img/cards/card_cover.png" alt="Card Cover" />
        }
        <img (click)="takeCard()" class="top-card" style="right: 3rem" src="/assets/img/cards/card_cover.png" alt="Card Cover" />
        @if(isPickCard) {
        <img class="" [class.pick-card]="isPickCard" style="right: 3rem" src="/assets/img/cards/{{ currentCard }}.png" alt="Card Cover" />
        }
    </div>
</div>
